---
layout: default
---

<article itemscope="" itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline mainEntityOfPage">{{ page.title }}</h1>
  <ul class="subline">
    <li>
      <time itemprop="author">
        <a href="https://github.com/{{ page.author }}">@{{ page.author }}</a>
      </time>
    </li>
    <li>
      <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date_to_string }}
      </time>
    </li>
    <li class="unprintable">
      <a href="{{ site.url }}{{ page.url }}#disqus_thread" itemprop="discussionUrl">comments</a>
    </li>
  </ul>
  {{ content }}
</article>

  <div class="disqus" role="complementary">
    <div id="disqus_thread" class="disqus-thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = document.location.href.split('?')[0].split('#')[0];
        this.page.identifier = this.page.url;
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//news-eolang-org.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      <div>
        <p class="red">
          JavaScript is disabled in your browser,
          that's why you can't see comments under this post.
        </p>
      </div>
    </noscript>
  </div>
